{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/phones.css' %}">
    <link rel="stylesheet" href="{% static 'css/caro.css' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.2/css/all.min.css">
    <title>Store</title>
</head>
<body>
    {% include "./comps/desknav.html" %}

    {% include "./comps/mobilenav.html" %}

    <div id="main">
        {% include "./comps/sidenav.html" %}

        <div id="main2">
            <div class="container">
            
                <!-- Results Grid -->
                <div class="results-grid">
                  <!-- Card 1 -->
                  <div class="card">
                    <img src="https://lh3.googleusercontent.com/mlmED2sjC0Dx6S_boGkY4c_BIUIQh0DfRJoeiATyUa_JtxEuh8yIfENCh4-kcRyQXLbNGQP7Ma2Rw-nUeTUeFAsid1LEFocu0E8=rw-e365-w3000" alt="Pixel 9 Pro">
                    <h2>Pixel 9 Pro</h2>
                    <p class="price">From $999</p>
                    <p class="details">128 GB – 1TB</p>
                  </div>
            
                  <!-- Card 2 -->
                  <div class="card">
                    <img src="https://lh3.googleusercontent.com/mlmED2sjC0Dx6S_boGkY4c_BIUIQh0DfRJoeiATyUa_JtxEuh8yIfENCh4-kcRyQXLbNGQP7Ma2Rw-nUeTUeFAsid1LEFocu0E8=rw-e365-w3000" alt="Pixel 9 Pro Fold">
                    <h2>Pixel 9 Pro Fold</h2>
                    <p class="price">From $1,799</p>
                    <p class="details">256 GB – 512GB</p>
                  </div>
            
                  <!-- Card 3 -->
                  <div class="card">
                    <img src="https://lh3.googleusercontent.com/mlmED2sjC0Dx6S_boGkY4c_BIUIQh0DfRJoeiATyUa_JtxEuh8yIfENCh4-kcRyQXLbNGQP7Ma2Rw-nUeTUeFAsid1LEFocu0E8=rw-e365-w3000" alt="Pixel 9">
                    <h2>Pixel 9</h2>
                    <p class="price">From $799</p>
                    <p class="details">128 GB – 256GB</p>
                  </div>
            
                  <!-- Card 4 -->
                  <div class="card">
                    <img src="https://lh3.googleusercontent.com/mlmED2sjC0Dx6S_boGkY4c_BIUIQh0DfRJoeiATyUa_JtxEuh8yIfENCh4-kcRyQXLbNGQP7Ma2Rw-nUeTUeFAsid1LEFocu0E8=rw-e365-w3000" alt="Phones">
                    <h2>Phones</h2>
                    <p class="description">Browse the Google Pixel family of smartphones</p>
                  </div>
                </div>
              </div>

        </div>
    </div>

    {% include "./comps/footer.html" %}
</body>
</html>